.home {
  .client-library {
    img {
      display: block;
      margin: .5em auto;
      height: 75px;
    }
    p {
      margin: 0;
      text-align: center;
    }
  }
}

.blog {
  ul {
    margin: 0;
    list-style: none;
  }
  .post {
    .post-header { text-align: center; }
  }
}

.white-panel {
  margin: 1em 0;
  padding: .5em 1em;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0px 2px 2px 0px #cecece;
}
