<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include topbar.html %}

    <div class="container">
      <div class="row">
        <div class="large-10 large-offset-1 small-12 columns">
          {{ content }}
        </div>
      </div>
      {% include footer.html %}
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.3/fastclick.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.5.0/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
